
[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=simple
# the specific user that our service will run as
User=pi
Group=pi
RuntimeDirectory=pianorecorder
WorkingDirectory=/home/pi/pianorecorder
ExecStart=/home/pi/pianorecorder/gunicorn_start.sh
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
