<div class="d-grid gap-2 d-md-block">
{% if rec.tags is not none %}
{% for tag in rec.tags %}
  <button class="tag-item btn btn-outline-primary btn-sm" type="button" onclick="delete_tag('{{tag}}');"><i class="tag-delete bi bi-x-circle-fill"></i>{{tag}}</button>
{% endfor %}
{% endif %}
  <button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#chooseTags"> + </button>
</div>

<div class="modal fade" id="chooseTags" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Tags</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="btn-group btn-matrix">
          {% for tag in tags %}
             <button type="button" class="btn btn-outline-primary btn-truncate" onclick='add_tag("{{tag["_id"]}}");'>{{tag["_id"]}}</button>
          {% endfor %}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

function add_tag(tag) {
    prInstance.add_tag("{{rec['_id']}}", tag)
    setTimeout(function(){
        window.location.reload();
    });
}

function delete_tag(tag) {
    prInstance.delete_tag("{{rec['_id']}}", tag)
    setTimeout(function(){
        window.location.reload();
    });
}

document.addEventListener('long-press', function(e) {
  e.target.setAttribute('data-editing', 'true');
  e.target.firstElementChild.setAttribute("data-editing", "true");
});

</script>
