<!DOCTYPE html>
<html>
    {% include 'header.html' %}
<body>

<div class="container-fluid">
    {% include 'navbar.html' %}

<input type="text" id="searchInput" onkeyup="searchTags()" placeholder="Search...">

<div id="recordings">

</div>

</div>
<script>
    $( document ).ready(function() {
        document.getElementById("nav_home").classList.add('active');
        registerSW();
        console.log( "ready!" );
        $("#recordings").load("/recordings")
    });

    // Register the Service Worker
    async function registerSW() {
      if ('serviceWorker' in navigator) {
        try {
          await navigator
                .serviceWorker
                .register('/serviceworker.js');
          console.log('registered');
        }
        catch (e) {
          console.log('SW registration failed');
        }
      }

  }

  function searchTags() {
      input = document.getElementById("searchInput");
      search = input.value
      if (search.length > 0)
          $("#recordings").load("/recordings?search=" + search)
      else {
          $("#recordings").load("/recordings")
      }

  }

</script>
</body>
</html>
