<!DOCTYPE html>
<html>
{% include 'header.html' %}
<head>
<style>
.wrapper {
  padding: 5px;
  margin: 5px 0;
  background-color: #cdcdcd;
}

textarea {
  font-size: 20px;
  width: 100%;
}
</style>
<body>
<div class="container-fluid">
    {% include 'navbar.html' %}

<table class="table table-bordered table-striped table-borderless">
  <tbody>
            <tr class="table-primary">
                <td colspan="2">Recording</td> </tr>
                <tr> <td>Title</td><td> <input>{{rec.title}}</input></td><tr>
                <tr> <td>Date</td><td> {{rec.datetime.date()}}</td><tr>
                <tr> <td>Time</td><td> {{rec.datetime.time().strftime("%H:%M:%S")}}</td><tr>
                <tr> <td>Duration</td><td>{{rec.duration | round}}</td></tr>
                <tr> <td>Tags</td><td> {% include 'choosetags.html' %} </td></tr>
                <tr> <td colspan="2">Notes</td></tr>
                <tr> <td colspan="2">
                <textarea class="textarea-label" id="notes" name="notes" rows="4"></textarea>
                </td></tr>
 </tbody>
</table>
  <div>
    <a href="#" class="btn btn-lg" style="background:lightgray" onclick="prInstance.play('{{rec._id}}')"><i class="bi bi-play-circle-fill" style="color:cornflowerblue"></i>Play</a>
    <a href="#" class="btn btn-lg" style="background:lightgray" onclick="prInstance.stop()"><i class="bi bi-stop-circle-fill"></i>Stop</a>
    <a class="btn btn-lg" style="background:lightgray" download="{{rec.name}}" href="data:audio/midi;base64,{{rec.data.decode()}}">Download</a>
    <a href="#" class="btn btn-lg" style="background:lightgray" onclick="prInstance.create_synth('{{rec._id}}')">Synthesize</a>
  </div>

</div>

</body>
</html>
