<table class="table table-hover table-striped table-borderless">
  <tbody>
            {% set ns = namespace(sessiondate = None) %}
            {% for session in recordings %}
            {% if session.date() != ns.sessiondate %}
            {% set ns.sessiondate = session.date() %}
            <tr class="table-primary">
                <td colspan="3">Date: {{session.date()}}</td>
            </tr>
            {% endif %}

            <tr class="table-secondary">
                <td colspan="3">Time: {{session.time().strftime("%H:%M")}}</td>
            <tr>
            {% for rec in recordings[session] %}
            <tr onclick="window.location='/recording/{{rec._id}}';">
                <td>{{rec.name}}</td>
                <td>{{rec.duration | round}}</td>
                <td>{{rec.datetime.time().strftime("%H:%M:%S")}}</td>
            </tr>
            {% endfor %}

            {% endfor %}
 </tbody>
</table>
