.recording-list thead th,
.recording-list tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.recording-list tbody th,
.recording-list tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.recording-list tbody tr:last-child th,
.recording-list tbody tr:last-child td {
    border-bottom: 0;
}
.recording-list tbody tr:nth-child(odd) td,
.recording-list tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

@media ( min-width: 10em ) {
    /* Show the table header rows and set all cells to display: table-cell */
    .reflow-break td,
    .reflow-break th,
    .reflow-break tbody th,
    .reflow-break tbody td,
    .reflow-break thead td,
    .reflow-break thead th {
        display: table-cell;
        margin: 0;
    }
    /* Hide the labels in each cell */
    .reflow-break td .ui-table-cell-label,
    .reflow-break th .ui-table-cell-label {
        display: none;
    }
}

