.recording-list thead th,
.recording-list tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.recording-list tbody th,
.recording-list tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.recording-list tbody tr:last-child th,
.recording-list tbody tr:last-child td {
    border-bottom: 0;
}
.recording-list tbody tr:nth-child(odd) td,
.recording-list tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

@media ( min-width: 10em ) {
    /* Show the table header rows and set all cells to display: table-cell */
    .reflow-break td,
    .reflow-break th,
    .reflow-break tbody th,
    .reflow-break tbody td,
    .reflow-break thead td,
    .reflow-break thead th {
        display: table-cell;
        margin: 0;
    }
    /* Hide the labels in each cell */
    .reflow-break td .ui-table-cell-label,
    .reflow-break th .ui-table-cell-label {
        display: none;
    }
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
