.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.space {
  width: 4px;
  height: auto;
  display: inline-block;
}

.tag-item {
  font-size: 16px;
  font-family: arial;
  border: 1px solid #ccc;
  user-select: none;
  pointer-events:none;
}

.tag-delete {
   color:cornflowerblue;
}

@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.tag-item[data-editing="true"] {
  animation: jiggle 0.2s infinite;
  border: 1px solid #aaa;
  box-shadow: 0 0 1px rgba(0,0,0,.85);
   pointer-events: all;
}

.tag-delete[data-editing="true"] {
  visibility:visible;
}

.btn-matrix {
    flex-wrap: wrap;
}
/* Arrange buttons */
.btn-matrix > .btn {
	width: 33%; /* force buttons to have the same width regardless of content */
}
.btn-matrix > .btn:nth-child(3n + 4) {
	clear: left; /* force the button to start a new row of the matrix
	                (because .btn adds the `float: left;` property) */
	margin-left: 0; /* because .btn-group adds `margin-left: -1px;` to all buttons */
}
.btn-matrix > .btn:nth-child(n + 4) {
	margin-top: -1px; /* superimpose borders of the buttons from adjacent rows */
}

/* Fix border radius */
.btn-matrix > .btn:first-child {
	border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(3) {
	border-top-right-radius: 4px !important;
}
.btn-matrix > .btn:nth-last-child(3) {
	border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
	border-top-right-radius: 0;
}

.btn-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-striped .row:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
