<!DOCTYPE html>
<html>
    {% include 'header.html' %}
<body>

<div class="container-fluid">
    {% include 'navbar.html' %}

<table class="table table-hover table-striped table-borderless">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Secs</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
        <ul data-role="listview">
            {% set ns = namespace(sessiondate = None) %}
            {% for session in recordings %}
            {% if session.date() != ns.sessiondate %}
            {% set ns.sessiondate = session.date() %}
            <tr class="table-primary">
                <td colspan="3">Date: {{session.date()}}</td>
            </tr>
            {% endif %}

            <tr class="table-secondary">
                <td colspan="3">Time: {{session.time().strftime("%H:%M")}}</td>
            <tr>
            {% for rec in recordings[session] %}
            <tr onclick="window.location='/recording/{{rec._id}}';">
                <td>{{rec.name}}</a></td>
                <td>{{rec.duration | round}}</td>
                <td>{{rec.datetime.time().strftime("%H:%M:%S")}}</td>
            </tr>
            {% endfor %}

            {% endfor %}
        </ul>
 </tbody>
</div>
<script>
    $( document ).ready(function() {
        document.getElementById("nav_home").classList.add('active');
        registerSW();
        console.log( "ready!" );
    });

    // Register the Service Worker
    async function registerSW() {
      if ('serviceWorker' in navigator) {
        try {
          await navigator
                .serviceWorker
                .register('/serviceworker.js');
          console.log('registered');
        }
        catch (e) {
          console.log('SW registration failed');
        }
      }


    }

</script>
</body>
</html>
