<!DOCTYPE html>
<html>
    {% include 'header.html' %}
<body>

<div class="container-fluid">
    {% include 'navbar.html' %}

<table class="table table-hover table-striped table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Secs</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
        <ul data-role="listview">
            {% for date in recordings %}
            <tr class="table-primary">
                <td colspan="3">Date: {{date}}</td>
            <tr>
            {% for rec in recordings[date] %}
            <tr onclick="window.location='/recording/{{rec._id}}';"> 
                <td>{{rec.name}}</a></td>
                <td>{{rec.duration | round}}</td>
                <td>{{rec.datetime.time().strftime("%H:%M:%S")}}</td>
            </tr>
            {% endfor %}
            
            {% endfor %}
        </ul>
 </tbody>
</div>
<script>
    $( document ).ready(function() {
        document.getElementById("nav_home").classList.add('active');
        console.log( "ready!" );
    });

</script>
</body>
</html>
