<!DOCTYPE html>
<html>
    {% include 'header.html' %}
<body>

<div class="container-fluid">
    {% include 'navbar.html' %}


<h1> Metronome </h1>

<div class="slidecontainer">
  <p>Tempo: <span id="tempo"></span></p>
  <input type="range" min="10" max="220" value="{{settings['bpm']}}" class="slider" id="tempoRange">
  <!-- <p>Beats Per Bar: <span id="beats"></span></p>
  <input type="range" min="1" max="6" value="{{settings['beats']}}" class="slider" id="beatsRange">
-->
  <p>Volume: <span id="volume"></span></p>
  <input type="range" min="1" max="127" value="{{settings['volume']}}" class="slider" id="volumeRange">

  <select id="loopList" class="form-select" aria-label="Default select example" onchange="update_metronome()">
    <option disabled>1 beat ---------</option>
    {% for lp in loops[1] %}
    <option value="{{lp['_id']}}">{{lp['name']}}</option>
    {% endfor %}
    <option disabled>2 beat ---------</option>
    {% for lp in loops[2] %}
    <option value="{{lp['_id']}}">{{lp['name']}}</option>
    {% endfor %}
    <option disabled>3 beat ---------</option>
    {% for lp in loops[3] %}
    <option value="{{lp['_id']}}">{{lp['name']}}</option>
    {% endfor %}
    <option disabled>4 beat ---------</option>
    {% for lp in loops[4] %}
    <option value="{{lp['_id']}}">{{lp['name']}}</option>
    {% endfor %}
  </select>
</div>


<a href="#" class="btn btn-lg" style="background:lightgray" onclick="start_metronome()"><i class="bi bi-play-circle-fill" style="color:cornflowerblue"></i>Start</a>
<a href="#" class="btn btn-lg" style="background:lightgray" onclick="stop_metronome()"><i class="bi bi-stop-circle-fill"></i>Stop</a>

<!--
-->
<script>

function connectSlider(rangeElem, displayElem) {
    var slider = document.getElementById(rangeElem);
    var display = document.getElementById(displayElem);
    display.innerHTML = slider.value;

    slider.oninput = function() {
        display.innerHTML = this.value;
        update_metronome()
    }

}

function update_metronome() {
    var bpm = document.getElementById("tempoRange").value;
    var volume = document.getElementById("volumeRange").value;
    var loop_id = document.getElementById("loopList").value;
    prInstance.update_metronome(+bpm, +volume, +loop_id)
}

function stop_metronome() {
    prInstance.stop_metronome()
}


function start_metronome() {
    prInstance.start_metronome()
}

connectSlider("tempoRange", "tempo");
connectSlider("volumeRange", "volume");

</script>

</div>
<script>
    $( document ).ready(function() {
        document.getElementById("nav_rhythm").classList.add('active');
        var loopList = document.getElementById("loopList");
        loopList.value = {{settings['loop_id']}}
        console.log( "ready!" );
    });

</script>
</body>
</html>
